.list1rec{height:80px; width:100%; padding: 10px 10px; border: 1px solid #e7e7e7;}
.list1rec-remove{width:20%; font-size: 28px; color: red; padding-top: 10px; padding-left: 10px;float: left}
.list1rec-info{width:78%;padding-top: 0px;float: left}