<div class="fg"></div>
<div class="footer_div fixed_bot">
  <div class="reslut">
    <div style="padding:10px 5px; width:65%; float: left">
      <select id="mtodds" class="form-control" style="padding:2px; width:70%;float: left">
        <option value="0">1942.00-0.0%</option>
      </select>
      <select id="model" class="form-control" style="padding:2px; margin-left:5px;width:25%;float: left">
        <option value="1">元</option>
        <option value="2">角</option>
        <!--<option value="3" >分</option>-->
      </select>
    </div>
    <div style="float: right;width:35%;padding: 10px 2px">
      <div class="col-xs-10" style="text-align: right;margin: 0;padding: 0;">
        <div class="input-group">
          <span class="input-group-btn">
            <button id="bs_out" class="btn btn-default" type="button" style="width: 15px;">
              <span class="glyphicon glyphicon-minus" style="margin-left:-7px"></span>
            </button>
          </span>
          <input id="beishu" type="text" class="form-control" value="1" style="text-align:left;padding:2px;">
          <span class="input-group-btn">
            <button id="bs_in" class="btn btn-default" type="button" style="width: 15px;">
              <span class="glyphicon glyphicon-plus" style="margin-left:-7px"></span>
            </button>
          </span>
        </div>
      </div>
      <label style="float: right; margin-top: 8px">倍</label>
    </div>
  </div>
  <div class="bottom">
    <div class="suminfo">共
      <span class="num" >{{numCount}}</span>注  
      <br>
      <span class="num_price">{{numAmount | number: '1.2-2'}}</span>元</div>
    <div style="height:55px; padding: 10px 3px; float: right">
      <button type="button" class="btn btn-primary" style="padding:6px 4px" (click)="randowSelect()">
        <span class="glyphicon glyphicon-refresh"></span> 机选</button>
      <button type="button" class="btn btn-primary" style="padding:6px 4px" (click)="addCart()">
        <span class="glyphicon glyphicon-plus"></span> 添加</button>
      <button type="button" class="btn btn-danger" style="padding:6px 4px" (click)="gotoCart()">
        <span class="glyphicon glyphicon-shopping-cart"></span> 购买
        <span id="carrows" class="badge">{{cartTotal}}</span>
      </button>
    </div>
  </div>
</div>
