<div class="choose_div">
	<div class="ti">
		<span>1中1</span>
	</div>
	<div class="nbs">
		<div class="to">
			<ul>
				<li class="dxjoq" name="big">大</li>
				<li class="dxjoq" name="small">小</li>
				<li class="dxjoq" name="odd">奇</li>
				<li class="dxjoq" name="even">偶</li>
				<li class="dxjoq" name="all">全</li>
				<li class="dxjoq" name="clean">清</li>
			</ul>
		</div>
		<div class="nb">
			<div class="">01</div>
			<div class="">02</div>
			<div>03</div>
			<div>04</div>
			<div>05</div>
			<div>06</div>
			<div>07</div>
			<div>08</div>
			<div>09</div>
			<div>10</div>
			<div>11</div>
		</div>
	</div>
</div>