<div class="choose_div" *ngFor="let d of ballsData;let i=index">
	<div class="ti">
		<span>1中1</span>
	</div>
	<div class="nbs">
		<div class="to" *ngIf='1'>
			<ul>
				<li *ngFor="let batch of batchBoundArr" class="dxjoq" [class.on]="batch['batchBound'] == batchBound" (click)="batchselectBallEvent(i,batch['batchBound'])">{{batch.desc}}</li>
			</ul>
		</div>
		<div class="nb">
            <div *ngFor="let item of [01,02,03,04,05,06,07,08,09,10,11];let j=index" (click)="selectBallEvent(i,j)"   [class.on]="ballsData[i][j]>0">{{item | number: '2.0-0'}}</div>
		</div>
	</div>
</div>