<!-- <app-lt-header [currentPlayId]='currentPlayId' (playChange)='playChange($event)' [methodList]='methodList' [currentMethodId]='currentMethodId' [currentMethodName_cn]='currentMethodName_cn' [gameName_cn]='gameName_cn' [currentPlayArr]='currentPlayArr' [currentPlayName_cn]='currentPlayName_cn'></app-lt-header> -->
<div class="lotterycnt" [hidden]="showCart">
    <app-lt-header (playChange)='playChange($event)' [lottery]='lottery'></app-lt-header>
    <div id="content" #playContainer>
    </div>
    <app-lt-footer></app-lt-footer>
</div>
<app-cart-index [hidden]="!showCart"></app-cart-index>