<div class="choose_div">
    <div class="ti">
        <span>2中2</span>
    </div>
    <div class="nbs">
        <div class="to">
            <ul>
                <li class="dxjoq on" name="big">大</li>
                <li class="dxjoq" name="small">小</li>
                <li class="dxjoq" name="odd">奇</li>
                <li class="dxjoq" name="even">偶</li>
                <li class="dxjoq" name="all">全</li>
                <li class="dxjoq" name="clean">清</li>
            </ul>
        </div>
        <div class="nb">
            <div>01</div>
            <div>02</div>
            <div>03</div>
            <div>04</div>
            <div>05</div>
            <div class="on">06</div>
            <div class="on">07</div>
            <div class="on">08</div>
            <div class="on">09</div>
            <div class="on">10</div>
            <div class="on">11</div>
        </div>
    </div>
</div>