<div class="footer_div fixed_bot">
    <div class="reslut">
        <div style="float: left;width:41%;padding: 10px 2px">
            <button  (click) = "traceEvent()" type="button" class="btn btn-primary" style="padding:6px 4px;width:45%">追号
                <span class="glyphicon glyphicon-share-alt"></span>
            </button>
            <input [hidden]="!isTrace"  type="checkbox" [checked]="isWinStopTrace" (change)="changeWinStop()" data-three-state="false">
            <label [hidden]="!isTrace" class="cbx-label" for="inputZTZ" style="font-size: 12px;">中奖停追</label>
        </div>
        <!-- 追号期数 -->
        <div [hidden]="!isTrace" style="float: right; width: 28%; padding: 10px 2px;">
            <div class="col-xs-10" style="text-align: right;margin: 0;padding: 0;">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button (click)="reduceIssueTimesTrace()" class="btn btn-default" type="button" style="width: 14px;">
                            <span class="glyphicon glyphicon-minus" style="margin-left:-7px"></span>
                        </button>
                    </span>
                    <input [(ngModel)]="issueTimesTrace" (keyup)="issueKeyUp($event)" (blur)="issueBlur($event)"  type="text"  class="form-control" style="text-align:left;padding:1px;">

                    <span class="input-group-btn">
                        <button (click)="addIssueTimesTrace()" class="btn btn-default" type="button" style="width: 14px;">
                            <span class="glyphicon glyphicon-plus" style="margin-left:-7px"></span>
                        </button>
                    </span>

                </div>
            </div>
            <label style="float: right; margin-top: 8px">期 </label>
        </div>
        <!-- 追号倍数 -->
        <div [hidden]="!isTrace" style="float: right; width: 31%; padding: 10px 2px;">
            <div class="col-xs-10" style="text-align: right;margin: 0;padding: 0;">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button (click)="reduceMultipleTrace()" class="btn btn-default" type="button" style="width: 14px;">
                            <span class="glyphicon glyphicon-minus" style="margin-left:-7px"></span>
                        </button>
                    </span>
                    <input  [(ngModel)]="multipleTrace" (keyup)="multipleKeyUp($event)" (blur)="multipleBlur($event)" type="text" class="form-control" style="text-align:left;padding:1px;">
                    <span class="input-group-btn">
                        <button (click)="addMultipleTrace()" class="btn btn-default" type="button" style="width: 14px;">
                            <span class="glyphicon glyphicon-plus" style="margin-left:-7px"></span>
                        </button>
                    </span>
                </div>
            </div>
            <label style="float: right; margin-top: 8px">倍</label>
        </div>

    </div>

    <div class="bottom">
        <div class="suminfo" style="padding-top:15px; font-size: 16px">共计
            <span class="num" id="numCountLast">{{bettings.length}}</span>注
            <span id="numPriceLast" class="num_price">{{cartTotal | number: '1.4-5'}}</span>元</div>
        <div style="height:55px; padding: 10px 3px; float: right; width:30%">
            <button type="button" class="btn btn-danger" style="padding:6px 10px;width:100%" onclick="showSubmitData();">
                <span class="glyphicon glyphicon-shopping-cart"></span> 确认购买</button>
        </div>
    </div>
</div>